body {
    font-family: "Arial";
}

table {
    border: 1px solid gray;
    border-collapse: collapse;
    width:100%
}

th, td {
    border-bottom: .5px solid #ddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

td{
    padding-left: 50px;
}

h1{
    text-align:center;
}